
.navbar-brand {
  font-size: 35px;
}

.navbar-text {    
  font-size: 30px;
}

.nav-link {
    font-size: 20px;
}
  
.main-image {
    max-width: 100%;
    background-color: #142f28;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.packers-image {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

.article-link {
    font-size: 25px;
}

.article-description {
    font-size: 20px;
}

.article-image {
    display: block;
}

.info-message {
    max-width: 100%;
    background-color: #142f28;
    color: white;
    text-align: center;
    padding: 5px;
}

.article-notes,
.new-note {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.article-notes {
    text-align: center;
}

.article-notes,
.notes-list,
.note-item,
.article-note {
    margin: 0px;
    padding: 0px;
}

.article-note,
.article-note-header,
.new-note  {
    font-size: 18px;
}

textarea {
    max-width: 100%;
}

.delete-note-button {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    padding: 1px;
    font-size: 10px;
    align-content: center;
}

.footer-image {
    max-width: 100%;
    background-color: #142f28;
    margin-left: auto;
    margin-right: auto;
}

.footer-image,
.packers-footer-image {
    height: 50px;
}
